footer {
	width: 100%;
	padding: 30px 0;
	background: #eee;
	.inner {
		width: 1180px;
		margin: 0 auto;
		position: relative;

		.copy {
			float: left;
			display: block;
			width: 340px;
			height: 75px;
			line-height: 75px;

			span {
				font: bold 15px/1 'arial';
				color: #555;
			}
		}

		.link {
			float: right;
			li {
				float: left;
				margin-right: 20px;
				height: 75px;
				line-height: 75px;
				text-align: center;

				a {
					font: bold 15px/1 'arial';
					color: #555;
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	footer {
		width: 100%;
		padding: 30px 0;

		.inner {
			width: 100%;

			.copy {
				float: left;
				display: block;
				width: 340px;
				height: 75px;
				line-height: 75px;

				span {
					font: bold 15px/1 'arial';
					color: #555;
				}
			}

			.link {
				float: right;
				li {
					float: left;
					margin-right: 20px;
					height: 75px;
					line-height: 75px;
					text-align: center;

					a {
						font: bold 15px/1 'arial';
						color: #555;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	footer {
		padding: 30px 0;

		.inner {
			.copy {
				width: 100%;
			}

			.link {
				width: 100%;
			}
		}
	}
}
