* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Helvetica, sans-serif, arial;
}

ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
}

//////////////////////////////////////////////////////////////////////////////////////////////////
.hidden {
	display: none;
}

.clearfix::after {
	display: block;
	content: '';
	clear: both;
}

.wrap::after {
	display: block;
	content: '';
	clear: both;
}
/* article float에서 마지막 요소 마진 0주기 위함 */
.wrap article:nth-last-of-type(1) {
	margin: 0 !important;
}

.wrap li:nth-last-of-type(1) {
	margin: 0 !important;
}
//////////////////////////////////////////////////////////////////////////////////////////////////
