#diary {
	width: 100%;
	background: #eee;
	padding: 50px 0;

	.inner {
		width: 1180px;
		margin: 0 auto;
		position: relative;

		h1 {
			font: bold 22px/1 'arial';
			margin-bottom: 30px;
		}

		.more {
			position: absolute;
			top: 0;
			right: 0;
			color: #aaa;
		}

		.wrap {
			position: relative;
			width: 100%;
			height: 100%;
			.swiper-wrapper {
				article {
					float: left;
					width: 32%;
					height: 300px;
					padding: 20px;
					margin-right: 2%;
					background: #fff;

					h2 {
						font: bold 18px/1.1 'arial';
						color: #333;
						&::before {
							display: block;
							content: '';
							border-left: 5px solid blue;
							height: 30px;
							position: relative;
							left: -20px;
							top: 20px;
						}
					}

					span {
						display: inline-block;
						font: bold 12px/1.1 'arial';
						color: #666;
						margin-bottom: 30px;
					}

					p {
						display: inline-block;
						font: bold 16px/1.3 'arial';
						color: #444;
						margin-bottom: 30px;
					}
				}
			}
			// swiper
			.swiper-button-next,
			.swiper-button-prev {
				top: auto;
				left: auto;
				bottom: 0px;
				transform: scale(0.5);
				filter: brightness(0%) saturate(0%);
			}
			.swiper-button-next {
				right: 50px;
			}
			.swiper-button-prev {
				right: 100px;
			}

			.btnPlay,
			.btnPause {
				position: absolute;
				bottom: 0px;
				cursor: pointer;
				font-size: 20px;
				z-index: 25;
			}
			.btnPlay {
				left: 50px;
			}
			.btnPause {
				left: 100px;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	#diary {
		.inner {
			width: 100%;

			.wrap {
				position: relative;
				width: 100%;
				height: 100%;

				article {
					height: 350px;
					overflow: auto;
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	#diary {
		.inner {
			width: 100%;

			.wrap {
				position: relative;
				width: 100%;
				height: 100%;

				article {
					float: none;
					width: 80%;
					height: 100%;
					margin: 10% auto !important;
					margin-left: 10%;
				}
			}
		}
	}
}
