.department {
	.inner {
		.wrap {
			article {
				float: left;
				width: calc(100% / 3);
				padding: 20px 20px 0;

				&:nth-of-type(3n) {
					margin-right: 0px;
				}

				.picture {
					width: 100%;
					height: 300px;
					margin-bottom: 10px;
					position: relative;
					filter: saturate(0);
					transition: 0.5s;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						position: absolute;
						top: 0;
						left: 0;
						transition: 0.5s;

						&:nth-of-type(1) {
							transform: translateY(0px) scale(0.9);
							filter: blur(20px);
							opacity: 0.7;
						}
					}
					&:hover {
						filter: saturate(1.3);
						img {
							&:nth-of-type(1) {
								transform: translateY(40px) scale(0.9);
							}
						}
					}
				}
				.content {
					h2 {
						font-size: 24px;
						color: #333;
					}
					p {
						font-size: 16px;
						color: #666;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.department {
		.inner {
			.wrap {
				article {
					width: calc(100% / 2);
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.department {
		.inner {
			.wrap {
				article {
					width: calc(100% / 1);
				}
			}
		}
	}
}
