$tablet: 1179px;
$mobile: 539px;

//common
@import 'common/reset';
@import 'common/header';
@import 'common/footer';
@import 'common/layout';
@import 'common/popup';

//main
@import 'main/visual';
@import 'main/choice.scss';
@import 'main/diary';
@import 'main/accessory';
@import 'main/navi_scroll';
//sub
@import 'sub/department';
@import 'sub/gallery';
@import 'sub/youtube';
@import 'sub/contact';
@import 'sub/signup';
